@keyframes darkenLighten {
    0% {
      filter: brightness(1);
    }
    50% {
      filter: brightness(0.5);
    }
    100% {
      filter: brightness(1);
    }
  }
  
  /* Apply the animation to the image */
  img {
    object-fit: cover;
    animation: darkenLighten 30s infinite;
  }