* {
    margin: 0px;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Minecraft-Font';
    color: antiquewhite;
}

@font-face {
    font-family: 'Minecrafter';
    src: url('assets/minecrafter-font/Minecrafter-MA3Dw.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Minecraft-Font';
    src:url('assets/minecraft-font/MinecraftRegular-Bmg3.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: rgba(61, 56, 56, 0.658);
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}
h1 {
    font-size: 6rem;
    font-family: 'Minecrafter', sans-serif;
    color: white;
    width: 100%;
}
.index-h1 {
    background-image: url('assets/aerial-view-minecraft-sammear.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mc-buttons {
    background-color: rgba(59, 51, 51, 0.651);
}
.text-block {
    width: 55%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: x-large;
}
.painting {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slanted-lines {
    display: flex;
    justify-content: space-evenly;
}
.slanted-line-left {
    width: 2px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.856);
    transform: rotate(45deg); /* Adjust the angle as needed */
    margin-left: 24%;
}
.slanted-line-right {
    width: 2px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.856);
    transform: rotate(-45deg); /* Adjust the angle as needed */
    margin-right: 24%;
}
#gallery-slideshow-btn {
    margin-top: -17px;
    background-color: #cfcdcd;
    border: 15px outset rgb(165, 117, 54);
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 7rem;
}
#gallery-slideshow-btn > p {
    border: none;
    background-color: #cfcdcd;
    box-shadow: none;
    width: 53%;
}
#gallery-slideshow-btn > p > a {
    text-decoration: none;
    color: black;
}
#gallery-slideshow-btn > p:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 50;
    background-image: url('assets/mossy-cobblestone-texture.png');
    width: 100%;
}

.frame {
    background-color: rgb(223, 220, 220);
    border: 15px outset rgb(165, 117, 54);
}
.hero-section-container > p:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.hero-section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2rem);
    align-items: center;
    justify-items: center;

}
.hero-section-container > p {
    font-size: larger;
    width: 40%;
    padding: 5rem;
    overflow: hidden;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.3);
    max-height: 300px;
}
.hero-section-container > p > img {
    /* Hides the top of the screenshot */
    height: 300px;
    margin: -95px 0 0 -80px;
    padding-bottom: 3rem;
}
p {
    background-color: rgba(68, 68, 68, 0.418);
    margin: 1rem;
    background-color: rgb(83, 83, 83);
    border: 0.5rem inset gray;
    padding: 0.5rem;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.3);
}
i {
    color: rgb(39, 37, 37);
}
.home-img2 {
    opacity: 0;
}
#double-image-frame {
    width: 100%;
    margin: -100px 0 0 -100px; 
    color: black;
}

#home-bedroom-frame > img {
    min-height: 300px;
    padding-bottom: 3rem;
}
#home-bedroom-frame:hover .home-img1{
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}
#home-bedroom-frame:hover .home-img2{
    opacity: 1;
}
.mc-button-container {
    display: flex;
    justify-content: space-evenly;
}
/* Minecraft Style Button */
.mc-button {
	height: 45px;
	width: calc(var(--btn-size) * 10);
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	user-select: none;
	background: #999 url('https://i.ibb.co/rb2TWXL/bgbtn.png') center / cover;
	image-rendering: pixelated;
	border: 2px solid #000;
    margin: 10px;
    font-size: large;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.3);
}
.mc-button:hover {
    background-image: radial-gradient(rgba(64, 176, 241, 0.726), rgb(93, 135, 160));
    border: 1px solid white;
}
.mc-button > a {
    font-family: 'Minecraft-Font', sans-serif;
    text-decoration: none;
    color: rgb(238, 232, 232);
}

.my-img, 
.img-section {
    background-color: rgb(83, 83, 83);
    border: 0.5rem inset gray;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#book-today-btn {
    width: 50%;
}
  
footer {
    height: 19rem;
    background-image: url('assets/dirt-texture.jpg');
    border-top: 0.5rem solid rgb(22, 143, 76);
    width: 100%;
}
.footer-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#github-btn,
#linkedin-btn {
    border: none;
    background-color: transparent;
}
#github-btn > a > img,
#linkedin-btn > a > img {
    height: 40px;
    background-color: rgb(0, 255, 255);
    padding: 3px;
    box-shadow: 7px 5px 2px rgba(0, 0, 0, 0.3);
}
#github-btn > img:hover,
#linkedin-btn > img:hover {
    height: 45px;
    background-color: hsl(194, 86%, 77%);
    padding: 3px;
    transform: scale(1.1);
}

  /* CSS FOR DESKTOP VIEWING */
@media (min-width: 999px) {
    .index-h1 {
        padding-bottom: 6rem;
        padding-top: 6rem;
    }
    .mc-buttons {
        width: 100%;
    }
    .mc-button {
        width: 100%;
    }
    .image-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .my-img,
    .img-section {
        margin: 10px;
    }
}

/* CSS FOR WHEN THIS APP RUNS ON TABLET */
@media (max-width: 960px) {
    .mc-buttons {
        width: 100%;
    }
    .mc-button {
        width: 100%;
    }
    
    .image-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }
    .my-img,
    .img-section {
        width: 70%;
        margin: 10px;
    }
    .frame {
        min-height: 400px;
    }
}


/* CSS FOR WHEN THIS APP RUNS ON MOBILE DEVICE */
@media (max-width: 400px) {
    .mc-buttons {
        width: 100%;
        position:sticky;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mc-button {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .hero-section-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .hero-section-container > p:hover {
        transform: none;
        
    }
    .hero-section-container > p {
        max-height: 600px;
    }
    
    .image-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img-section {
        width: 100%;
        height: auto;
        margin: 10px;
    }
    .my-img>img,
    .img-section>img {
        width: 70%;
    }
    .frame {
        min-height: 400px;
    }
}


