@font-face {
    font-family: 'Minecrafter';
    src: url('assets/minecrafter-font/Minecrafter-MA3Dw.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Minecraft-Font';
    src:url('assets/minecraft-font/MinecraftRegular-Bmg3.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Minecrafter', sans-serif;
    font-size: 70px;
}

body {
    font-family: 'Minecraft-Font';
    padding: 5%;
    text-align: center;
    font-size: 50;
}

/* Styling the area of the slides */
#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
}

img {
    width: 728px;
}

/* Style each of the sides 
  with a fixed width and height */
.slide {
    float: left;
    height: 510px;
    width: 728px;
}

/* Add animation to the slides */
.slide-wrapper {

    /* Calculate the total width on the
    basis of number of slides */
    width: calc(728px * 4);

    /* Specify the animation with the
    duration and speed */
    animation: slide 10s ease infinite;
}

/* Set the background color
  of each of the slides */
.slide:nth-child(1) {
    background: green;
}

.slide:nth-child(2) {
    background: pink;
}

.slide:nth-child(3) {
    background: red;
}

.slide:nth-child(4) {
    background: yellow;
}

/* Define the animation 
  for the slideshow */
@keyframes slide {

    /* Calculate the margin-left for 
    each of the slides */
    20% {
        margin-left: 0px;
    }

    40% {
        margin-left: calc(-728px * 1);
    }

    60% {
        margin-left: calc(-728px * 2);
    }

    80% {
        margin-left: calc(-728px * 3);
    }
}



@keyframes darkenLighten {
    0% {
      filter: brightness(1);
    }
    50% {
      filter: brightness(0.5);
    }
    100% {
      filter: brightness(1);
    }
  }
  
  /* Apply the animation to the image */
  /* img {
    object-fit: cover;
    animation: darkenLighten 30s infinite;
  } */

  
  /* CSS FOR DESKTOP VIEWING */
@media (min-width: 999px) {
    /* .image-gallery {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    .image-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .my-img {
        height: 20px;
        background-color: purple;
        margin: 10px;
    }
}

/* CSS FOR WHEN THIS APP RUNS ON TABLET */
@media (max-width: 960px) {
    .image-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }

    .my-img {
        width: 70%;
        height: 20px;
        background-color: purple;
        margin: 10px;
    }
}

/* CSS FOR WHEN THIS APP RUNS ON MOBILE DEVICE */
@media (max-width: 400px) {
    
    .image-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my-img {
        width: 70%;
        height: 20px;
        background-color: purple;
        margin: 10px;
    }
}


