body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h1 {
    height: 2rem;
    width: 100%;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    grid-gap: 3px;
}

.image-section {
    width: 70%;
}

.images > img {
    width: 90%;
    border: 9px inset brown;
}
video {
    width: 90%;
    border: 9px inset brown;
}


/* Styling the area of the slides */
#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
    background-color: rgb(83, 83, 83);
    border: 0.5rem inset gray;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.slide > img {
    width: 728px;
    /* margin: -75px 0 0 -100px; */
}

/* Style each of the sides 
  with a fixed width and height */
.slide {
    float: left;
    height: 500px;
    width: 728px;
    /* overflow: hidden; */
}

/* Add animation to the slides */
.slide-wrapper {

    /* Calculate the total width on the
    basis of number of slides */
    width: calc(728px * 4);

    /* Specify the animation with the
    duration and speed */
    animation: slide 10s ease infinite;
}

/* Set the background color
  of each of the slides */
.slide:nth-child(1) {
    background: green;
}

.slide:nth-child(2) {
    background: pink;
}

.slide:nth-child(3) {
    background: red;
}

.slide:nth-child(4) {
    background: yellow;
}

/* Define the animation 
  for the slideshow */
@keyframes slide {

    /* Calculate the margin-left for 
    each of the slides */
    20% {
        margin-left: 0px;
    }

    40% {
        margin-left: calc(-728px * 1);
    }

    60% {
        margin-left: calc(-728px * 2);
    }

    80% {
        margin-left: calc(-728px * 3);
    }
}


 /* CSS FOR DESKTOP VIEWING */
 @media (min-width: 999px) {
    .gallery-container {
        display: flex;
        justify-content: space-around;
    }
    .images > img {
        width: 90%;
        transition: transform 0.3s ease;
    }
    .images > img:hover {
        transform: scale(1.2);
    }
 }

 /* Tablet Viewing */
 @media (max-width: 960px) {
    #slideshow {
        width: 90%;
    }
    .slideshow-img {
        width: 100%;
    }
    video {
        width: 90%;
    }
 }


  /* CSS FOR MOBILE VIEWING */
  @media (max-width: 400px) {
    /* Styling the area of the slides */
    #slideshow {
        overflow: hidden;
        height: 215px;
        width: 90%;
        margin: 0;
    }

    .slideshow-img {
        width: 400px;
    }

    /* Style each of the sides 
    with a fixed width and height */
    .slide {
        float: left;
        height: 210px;
        width: 400px;
    }

    /* Add animation to the slides */
    .slide-wrapper {

    /* Calculate the total width on the
    basis of number of slides */
    width: calc(400px * 4);

    /* Specify the animation with the
    duration and speed */
    animation: slide 10s ease infinite;
    }

    /* Set the background color
    of each of the slides */
    .slide:nth-child(1) {
        background: green;
    }

    .slide:nth-child(2) {
        background: pink;
    }

    .slide:nth-child(3) {
        background: red;
    }

    .slide:nth-child(4) {
    background: yellow;
    }

    /* Define the animation 
    for the slideshow */
    @keyframes slide {

        /* Calculate the margin-left for 
        each of the slides */
        20% {
            margin-left: 0px;
        }

        40% {
            margin-left: calc(-400px * 1);
        }

        60% {
            margin-left: calc(-400px * 2);
        }

        80% {
            margin-left: calc(-400px * 3);
        }
    }
    .gallery-container {
        display: flex;
        justify-content: center;
    }
    video {
        width: 90%;
    }
 }