body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h1 {
    height: 2rem;
    width: 100%;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    grid-gap: 3px;
}

.image-section {
    width: 70%;
}

.images > img {
    width: 90%;
    border: 9px inset brown;
}
.images > video {
    width: 180%;
    border: 9px inset brown;
}



 /* CSS FOR DESKTOP VIEWING */
 @media (min-width: 999px) {
    .gallery-container {
        display: flex;
        justify-content: space-around;
    }
    .images > img {
        width: 90%;
        transition: transform 0.3s ease;
    }
    .images > img:hover {
        transform: scale(1.2);
    }
 }

 @media (max-width: 900px) {
    
 }

  /* CSS FOR MOBILE VIEWING */
  @media (max-width: 400px) {
    .gallery-container {
        display: flex;
        justify-content: center;
    }
 }