

.my-img {
    width: 70%;
}

.my-img > img {
    width: 100%;
}

 /* CSS FOR DESKTOP VIEWING */
 @media (min-width: 999px) {
    .gallery-container {
        display: flex;
        justify-content: space-around;
    }
    
    .image-gallery {
        display: inline-grid;
        grid-template-columns: 40% 30% 40%;
        padding: 1rem;
    }
 }